.page-header {
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    font-family: 'Lobster';
}

.post{
	font-size: 20px;
	border: 2px solid black;
	text-align: center;
	margin-right:20%; 
	margin-left:20%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.title{
	font-size: 20px;
	border:2px solid black;
	margin-right:20%; 
	margin-left:20%;
	margin-top: 50px;
	margin-bottom: 10px;
	text-align: center;
}

.descrip{
	font-size: 20px;
	border:2px solid black;
	margin-right:20%; 
	margin-left:20%;
	margin-top: 10px;
	margin-bottom: 50px;
	text-align: center;
}